*{
  padding: 0;
  margin: 0;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #292a29;
}

#container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;

}

h1{
  font-size: 30px;
}

h3{
  font-size: 30px;

}
.opt:hover{
color:orange;
}

a{
  color: rgb(255,255,255,90%);
  text-decoration: none;
}

.content{
  text-align: center;
  margin:30px;
  font-size: 42px;
}

form {
  border: 1px solid grey;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.703);
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 350px;
  margin: 100px auto;

}

#items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #ff0000b9;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
}

.error {
  color: red;
  margin: 0;
}

.successMessage {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}